In [1]:
import numpy as np
import pandas as pd

* Formatando campo Marketcap

Format with commas and round off to two decimal places in pandas
pd.options.display.float_format = '{:, .2f}'.format

In [5]:
# configrando a saída do data frame para virgula a cada kilo (mil) e duas casas decimais
#após vírgula
pd.options.display.float_format = '{:,.2f}'.format

In [6]:
arq01= pd.read_csv("coin_Bitcoin.csv")

In [7]:
arq01.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.49,134.00,134.44,144.54,0.00,"1,603,768,864.50"
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.93,134.05,144.00,139.00,0.00,"1,542,813,125.00"
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.89,107.72,139.00,116.99,0.00,"1,298,954,593.75"
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.60,92.28,116.38,105.21,0.00,"1,168,517,495.25"
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.13,79.10,106.25,97.75,0.00,"1,085,995,168.75"

In [ ]:
arq01.shape

In [8]:
arq01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2991 non-null   int64
 1   Name       2991 non-null   object
 2   Symbol     2991 non-null   object
 3   Date       2991 non-null   object
 4   High       2991 non-null   float64
 5   Low        2991 non-null   float64
 6   Open       2991 non-null   float64
 7   Close      2991 non-null   float64
 8   Volume     2991 non-null   float64
 9   Marketcap  2991 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 233.8+ KB

In [9]:
# selecionando colunas de interesse

In [10]:
arq01.columns

Index(['SNo', 'Name', 'Symbol', 'Date', 'High', 'Low', 'Open', 'Close',
       'Volume', 'Marketcap'],
      dtype='object')

In [11]:
arq02 = arq01[['Name','Symbol', 'Date','High', 'Open','Marketcap']]

In [12]:
arq02.head()

      Name Symbol                 Date   High   Open        Marketcap
0  Bitcoin    BTC  2013-04-29 23:59:59 147.49 134.44 1,603,768,864.50
1  Bitcoin    BTC  2013-04-30 23:59:59 146.93 144.00 1,542,813,125.00
2  Bitcoin    BTC  2013-05-01 23:59:59 139.89 139.00 1,298,954,593.75
3  Bitcoin    BTC  2013-05-02 23:59:59 125.60 116.38 1,168,517,495.25
4  Bitcoin    BTC  2013-05-03 23:59:59 108.13 106.25 1,085,995,168.75

In [ ]:
arq02.info()

In [13]:
#mudar campo date para datetime e formatar para dia mes ano
arq02['Date'] = pd.to_datetime(arq02['Date'])

/tmp/ipykernel_8692/1369767942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arq02['Date'] = pd.to_datetime(arq02['Date'])

In [14]:
arq02.head(3)

      Name Symbol                Date   High   Open        Marketcap
0  Bitcoin    BTC 2013-04-29 23:59:59 147.49 134.44 1,603,768,864.50
1  Bitcoin    BTC 2013-04-30 23:59:59 146.93 144.00 1,542,813,125.00
2  Bitcoin    BTC 2013-05-01 23:59:59 139.89 139.00 1,298,954,593.75

In [15]:
arq02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2991 non-null   object
 1   Symbol     2991 non-null   object
 2   Date       2991 non-null   datetime64[ns]
 3   High       2991 non-null   float64
 4   Open       2991 non-null   float64
 5   Marketcap  2991 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 140.3+ KB

exemplo:

parte01

df = pd.DataFrame({'Data': {0: 'May, 10 2020', 1: 'May, 11 2020'}})

df['Data'] = pd.to_datetime(df.Data)

print(df)

Data

0 2020-05-10

1 2020-05-11

parte02

df['Data'] = df['Data'].dt.strftime('%m/%d/%Y')

In [16]:
arq02['Date'] = arq02['Date'].dt.strftime('%Y%m%d')

/tmp/ipykernel_8692/3033023631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arq02['Date'] = arq02['Date'].dt.strftime('%Y%m%d')

In [17]:
arq02.head(3)

      Name Symbol      Date   High   Open        Marketcap
0  Bitcoin    BTC  20130429 147.49 134.44 1,603,768,864.50
1  Bitcoin    BTC  20130430 146.93 144.00 1,542,813,125.00
2  Bitcoin    BTC  20130501 139.89 139.00 1,298,954,593.75

In [18]:
arq02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2991 non-null   object
 1   Symbol     2991 non-null   object
 2   Date       2991 non-null   object
 3   High       2991 non-null   float64
 4   Open       2991 non-null   float64
 5   Marketcap  2991 non-null   float64
dtypes: float64(3), object(3)
memory usage: 140.3+ KB

In [19]:
arq02['Date']=pd.to_datetime(arq02['Date'])

/tmp/ipykernel_8692/1982801163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arq02['Date']=pd.to_datetime(arq02['Date'])

In [20]:
arq02.head(3)

      Name Symbol       Date   High   Open        Marketcap
0  Bitcoin    BTC 2013-04-29 147.49 134.44 1,603,768,864.50
1  Bitcoin    BTC 2013-04-30 146.93 144.00 1,542,813,125.00
2  Bitcoin    BTC 2013-05-01 139.89 139.00 1,298,954,593.75

In [22]:
arq02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2991 non-null   object
 1   Symbol     2991 non-null   object
 2   Date       2991 non-null   datetime64[ns]
 3   High       2991 non-null   float64
 4   Open       2991 non-null   float64
 5   Marketcap  2991 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 140.3+ KB

In [ ]:
arq02['Marketcap'].max()

In [ ]:
arq03_max = arq02['Marketcap'] == 1186364044140.27

In [ ]:
arq03_max